Group members:
* Pablo Carmona
* Javier Sendra

In [2]:
import pandas as pd
import lxml
!pip install html5lib

Requirement already satisfied: html5lib in /usr/local/python/3.10.8/lib/python3.10/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /home/codespace/.local/lib/python3.10/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /home/codespace/.local/lib/python3.10/site-packages (from html5lib) (0.5.1)

In [3]:
# You can download the data from
url = "https://github.com/joashxu/prosper-loan-data/blob/master/dataset/prosperLoanData.csv"
# Dataset description
# https://github.com/joashxu/prosper-loan-data/tree/master/dataset

# Read the Prosper Loan Data
df = pd.read_csv("prosperLoanData.csv",quoting=False)

In [4]:
df.columns

Index(['ListingKey', 'ListingNumber', 'ListingCreationDate', 'CreditGrade',
       'Term', 'LoanStatus', 'ClosedDate', 'BorrowerAPR', 'BorrowerRate',
       'LenderYield', 'EstimatedEffectiveYield', 'EstimatedLoss',
       'EstimatedReturn', 'ProsperRating (numeric)', 'ProsperRating (Alpha)',
       'ProsperScore', 'ListingCategory (numeric)', 'BorrowerState',
       'Occupation', 'EmploymentStatus', 'EmploymentStatusDuration',
       'IsBorrowerHomeowner', 'CurrentlyInGroup', 'GroupKey',
       'DateCreditPulled', 'CreditScoreRangeLower', 'CreditScoreRangeUpper',
       'FirstRecordedCreditLine', 'CurrentCreditLines', 'OpenCreditLines',
       'TotalCreditLinespast7years', 'OpenRevolvingAccounts',
       'OpenRevolvingMonthlyPayment', 'InquiriesLast6Months', 'TotalInquiries',
       'CurrentDelinquencies', 'AmountDelinquent', 'DelinquenciesLast7Years',
       'PublicRecordsLast10Years', 'PublicRecordsLast12Months',
       'RevolvingCreditBalance', 'BankcardUtilization',
       'AvailableBankcardCredit', 'TotalTrades',
       'TradesNeverDelinquent (percentage)', 'TradesOpenedLast6Months',
       'DebtToIncomeRatio', 'IncomeRange', 'IncomeVerifiable',
       'StatedMonthlyIncome', 'LoanKey', 'TotalProsperLoans',
       'TotalProsperPaymentsBilled', 'OnTimeProsperPayments',
       'ProsperPaymentsLessThanOneMonthLate',
       'ProsperPaymentsOneMonthPlusLate', 'ProsperPrincipalBorrowed',
       'ProsperPrincipalOutstanding', 'ScorexChangeAtTimeOfListing',
       'LoanCurrentDaysDelinquent', 'LoanFirstDefaultedCycleNumber',
       'LoanMonthsSinceOrigination', 'LoanNumber', 'LoanOriginalAmount',
       'LoanOriginationDate', 'LoanOriginationQuarter', 'MemberKey',
       'MonthlyLoanPayment', 'LP_CustomerPayments',
       'LP_CustomerPrincipalPayments', 'LP_InterestandFees', 'LP_ServiceFees',
       'LP_CollectionFees', 'LP_GrossPrincipalLoss', 'LP_NetPrincipalLoss',
       'LP_NonPrincipalRecoverypayments', 'PercentFunded', 'Recommendations',
       'InvestmentFromFriendsCount', 'InvestmentFromFriendsAmount',
       'Investors'],
      dtype='object')

## 1

Display the "LoanStatus" and "Investors" columns for the row with "ListingNumber" = 816108

In [5]:
## WRITE YOUR CODE HERE ##
df.loc[df.ListingNumber== 816108, ['LoanStatus','Investors']]

   LoanStatus  Investors
44    Current          1

## 2

Create a new column called "SingleInvestor" which takes the value True if the column "Investors" is 1, and takes the value False otherwise

In [6]:
## WRITE YOUR CODE HERE ##
df["SingleInvestor"] = df.Investors == 1
df

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors,SingleInvestor
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258,False
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1,True
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41,False
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158,False
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,E6D9357655724827169606C,753087,2013-04-14 05:55:02.663000000,NaN,36,Current,NaN,0.22354,0.1864,0.1764,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1,True
113933,E6DB353036033497292EE43,537216,2011-11-03 20:42:55.333000000,NaN,36,FinalPaymentInProgress,NaN,0.13220,0.1110,0.1010,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,22,False
113934,E6E13596170052029692BB1,1069178,2013-12-13 05:49:12.703000000,NaN,60,Current,NaN,0.23984,0.2150,0.2050,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,119,False
113935,E6EB3531504622671970D9E,539056,2011-11-14 13:18:26.597000000,NaN,60,Completed,2013-08-13 00:00:00,0.28408,0.2605,0.2505,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,274,False
113936,E6ED3600409833199F711B7,1140093,2014-01-15 09:27:37.657000000,NaN,36,Current,NaN,0.13189,0.1039,0.0939,...,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1,True

## 3

Count how many rows have NA as ProsperScore, and count how many rows have a ProsperScore higher than 8

In [7]:
## WRITE YOUR CODE HERE ##
Ej3_1 =df.ProsperScore.isnull().sum()
Ej3_2 =len(df[df.ProsperScore >8])
print("NAs en PropedScore: ",Ej3_1)
print("Valores ProperScore > 8: ", Ej3_2)

NAs en PropedScore:  29084
Valores ProperScore > 8:  13117

## 4

Display how many rows and mean "Investors" we have per CreditGrade

In [8]:
a = df['CreditGrade'].unique()

In [9]:
Conteo = df.groupby('CreditGrade').size()
Conteo.name = 'Conteo'
Media = df.groupby('CreditGrade').mean('Investors').Investors
Ejercicio4 = pd.concat([Conteo, Media], axis=1)

In [10]:
Ejercicio4

             Conteo   Investors
CreditGrade
A              3315  186.689291
AA             3509  188.102023
B              4389  168.241285
C              5649  111.960701
D              5153   84.656705
E              3289   48.395257
HR             3508   30.510547
NC              141   28.617021

## 5

The "LoanFirstDefaultedCycleNumber" column captures the month in which the loan first defaulted. Create a column called fraud, that will be True if the loan was defaulted in less than 4 months. Calculate what is the fraud rate in the portfolio based on that new column.

In [11]:
df['Fraud']= df['LoanFirstDefaultedCycleNumber']< 4
print(df.Fraud.value_counts())

Fraud
False    113377
True        560
Name: count, dtype: int64

In [12]:
print('Fraud rate is: ',round(df.Fraud.value_counts()[1]/df.Fraud.value_counts()[0],4)*100,'%')

Fraud rate is:  0.49 %

/tmp/ipykernel_1061/379162602.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('Fraud rate is: ',round(df.Fraud.value_counts()[1]/df.Fraud.value_counts()[0],4)*100,'%')

## 6

Create a new column called is_student, which will be true if the column "Occupation" contains the text "Student". Count how many rows and what is the fraud rate based on the is_student column.

In [13]:
df['is_student'] = df["Occupation"].str.contains("Student")

In [14]:
df.is_student.value_counts()

is_student
False    109650
True        699
Name: count, dtype: int64

In [15]:
print('Fraud rate is: ',round(df.is_student.value_counts()[1]/df.is_student.value_counts()[0],4)*100,'%')

Fraud rate is:  0.64 %

/tmp/ipykernel_1061/3044587952.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('Fraud rate is: ',round(df.is_student.value_counts()[1]/df.is_student.value_counts()[0],4)*100,'%')
/tmp/ipykernel_1061/3044587952.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('Fraud rate is: ',round(df.is_student.value_counts()[1]/df.is_student.value_counts()[0],4)*100,'%')

## 7

Study the fraud rate versus the "IncomeRange" columns. Is there any insight we can learn from it?

In [16]:
## WRITE YOUR CODE HERE ##
Ej7 = df.groupby(['IncomeRange','Fraud']).size().reset_index(name = 'Conteo')

In [17]:
Ej7

       IncomeRange  Fraud  Conteo
0               $0  False     614
1               $0   True       7
2        $1-24,999  False    7233
3        $1-24,999   True      41
4        $100,000+  False   17301
5        $100,000+   True      36
6   $25,000-49,999  False   32046
7   $25,000-49,999   True     146
8   $50,000-74,999  False   30908
9   $50,000-74,999   True     142
10  $75,000-99,999  False   16846
11  $75,000-99,999   True      70
12   Not displayed  False    7628
13   Not displayed   True     113
14    Not employed  False     801
15    Not employed   True       5

In [18]:
Falsos = df[df.Fraud == False]['IncomeRange'].value_counts()
Falsos.name = 'False'
Verdaderos = df[df.Fraud == True]['IncomeRange'].value_counts()
Verdaderos.name = 'True'
Fraud_Rate = round(df[df.Fraud == True]['IncomeRange'].value_counts()/df[df.Fraud == False]['IncomeRange'].value_counts(),4)*100
Fraud_Rate.name = 'Fraud_Rate'

In [19]:
EJ7_Final = pd.concat([Falsos,Verdaderos,Fraud_Rate],axis=1)

In [25]:
EJ7_Final

                False  True  Fraud_Rate    IncomeRange1
IncomeRange
$25,000-49,999  32046   146        0.46  $25,000-49,999
$50,000-74,999  30908   142        0.46  $50,000-74,999
$100,000+       17301    36        0.21   Not displayed
$75,000-99,999  16846    70        0.42       $100,000+
Not displayed    7628   113        1.48  $75,000-99,999
$1-24,999        7233    41        0.57       $1-24,999
Not employed      801     5        0.62    Not employed
$0                614     7        1.14              $0

In [21]:
## EXPLAIN YOUR INSIGHTS HERE ##
# Podemos observar como las pesonad con un INcome range menor tienen una mayor posibilidad de fraude. En el caso de que tengan un rango de ingresos igual a 0, aunque no haya muchos datos observamos com el ratio de fraude es mas alto qu el resto.
# Tambien en el caso de que los clientes no hayan especificado sus ingresos, tienen una alta probabilidad de fraude. 
# Mientras que altos ingresos supone un menor riego de fraude debido a su posesion de capital.

## 8

Compute the correlation between the features in the next cell. Is there any insight we can learn from the correlation?

In [21]:
## WRITE YOUR CODE HERE ##
EJ7_Final.corr()

               False      True  Fraud_Rate
False       1.000000  0.826464   -0.537884
True        0.826464  1.000000   -0.023986
Fraud_Rate -0.537884 -0.023986    1.000000

In [ ]:
## EXPLAIN YOUR INSIGHTS HERE ##